.header__nav {
    max-width: 100%;
    height: 50px;
    background-color: rgb(73, 152, 255);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

body {
    margin: 0px;
}

.header__nav-ul {
    display: flex;
    list-style: none;
}

.header__nav-ul-li-a{
    text-decoration: none;
    text-transform: none;
    color: white;
    margin: auto 10px;
}

.header__nav-logo {
    text-decoration: none;
    text-transform: none;
    color: white;
    font-size: 25px;
    margin: auto 0;
}