.header__nav {
    max-width: 100%;
    height: 50px;
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

body {
    margin: 0px;
	background: #dcceff;
}

.header__nav-ul {
    display: flex;
    list-style: none;
}

.header__nav-ul-li-a{
    text-decoration: none;
    text-transform: none;
    color: white;
    margin: auto 10px;
}

.display-flex {
	display: flex;
}

.mainlist{
	margin: 50px 0 0 100px;
	display: flex;
	padding: 50px 50px ;
	background: white;
	width: 700px;
	border-radius: 15px;
}

.skills {
	margin: 50px 50px 0 100px ;
	background: white;
	padding: 20px 30px;
	width: 115px;
	border-radius: 15px;
}

.code{
	margin: 50px 0 0 0;
	background: white;
	padding: 20px 30px;
	width: 200px;
	border-radius: 15px;
}

.contacts {
	margin: 50px 100px 0 50px;
	background: white;
	padding: 20px 30px;
	width: 320px;
	border-radius: 15px;
}
.languages {
	margin: 50px 0 0 50px;
	background: white;
	padding: 20px 30px;
	width: 140px;
	border-radius: 15px;
}

.education {
	margin: 50px 100px 0 50px;
	background: white;
	padding: 20px 30px;
	width: 320px;
	border-radius: 15px;
}

.portfolio {
	margin: 50px 100px 0 100px;
	background: white;
	padding: 20px 30px;
	border-radius: 15px;
}

.header__nav-logo {
    text-decoration: none;
    text-transform: none;
    color: white;
    font-size: 25px;
    margin: auto 0;
}

.h1{
	background: linear-gradient(21deg, #dd03e4, #5611ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
	background: linear-gradient(21deg, #c531ca, #6f46c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainlist__text {
	margin-left: 50px;
}

.footer {
	background-color: white;
	text-align: center;
	padding: 1px 0;
	margin-bottom: -20px;
	margin-top: 50px;
}

.main-img{
    border-radius: 50%;
    width: 200px;
	height: 200px;
}

.portfolio_li {
	list-style-type: none;
	display: flex;
}

.portfolio_li__text {
	margin: 30px 50px;
}